<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>Chuck Norris Joke Search</title>
  <link rel='stylesheet' href='' id='form'>
</head>
<body>
<header>
  <div class='links'>
    <a href="/users/profile" name="top">Home</a>
    <form action="/auth?_method=DELETE" method="post">
        <input type="submit" value="Logout">
    </form>
  </div>
</header>
<div class='wrapper'>
  <div class=profile>
    <h1><%= user.username %> -- Save to your favorites list</h1>


         <% for(let i = 0; i < chuckjoke.value.length; i++){ %>
            <div class="list">
              <%= chuckjoke.value[i].joke %>
              <form action="/joke/favorites" method="post" id=form>
                <input type="hidden" name="favorite[CollectionName]" value="<%= chuckjoke.value[i].joke  %>">
                <input type="submit" value="SAVE">

              </form>
            </div>
          <% }; %>

  </div>
    <div class='favSearch'>
        <h2><%= user.username %>'s Favorites:</h2>
          <% favorites.forEach((fave) => { %>
            <div class="list">
              <p><%= console.log('this is fave ' + Object.keys(fave)) %></p>
              <p><%= fave.CollectionName %></p>
              <form action="/joke/favorites/<%= fave._id %>?_method=DELETE" method="post">
                <input type="submit" value="Delete">
              </form>
            </div>
        <% }) %>

    </div>
</div>

</body>
</html>
