<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <link rel="stylesheet" href="http://localhost:3000/css/style.css">
  <title>iTunes Search</title>
  <link rel='stylesheet' href='' id='form'>
</head>
<body>
  <h1><%= user.username %>, favorite Chuck Norris line!</h1>
  <form action="/joke" method="post" id=form>
    <div class=container>
     <ul class="jokeul">
       <% for(let i = 0; i < chuckjoke.value.length; i++){ %>
          <div class="list">
            <%= chuckjoke.value[i].joke %>
              <input type="hidden" name="favorite[value[i]]" value="<%= chuckjoke.value[i].joke  %>">
              <input type="submit" value="SAVE">
              </form>
          </div>
        <% }; %>
        </div>
    </ul>
</div>
  <div class='favSearch'>
  <div id="favorites-container">
    <h2><%= user.username %>'s Favorites:</h2>
    <% favorites.forEach((fave) => { %>
      <div class="fave">
        <p><%= fave.value[i].joke %></p>
        <form action="/joke/favorites/<%= fave._id %>?_method=DELETE" method="post">

        <input type="submit" value="Delete">
        </form>
      </div>
    <% }) %>
  </div>
  <!-- <div id="search-results-container">
    <h2>Search Results:</h2>
    <% results.forEach((album) => { %>
      <div class="search-results">
        <img src="<%= album.artworkUrl100 %>" alt="">
        <p><%= album.artistName %></p>
        <p><%= album.collectionName %></p>
        <form action="/music/favorites" method="POST" id='form'>
          <input type="hidden" name="favorite[collectionName]" value="<%= album.collectionName %>">
          <input type="hidden" name="favorite[artistName]" value="<%= album.artistName %>">
          <input type="hidden" name="favorite[artworkUrl100]" value="<%= album.artworkUrl100 %>">
          <input type="submit" value="SAVE">
        </form>
      </div>
    <% }) %>
  </div> -->
  </div>
  <a href="/users/profile">Home</a>
</body>
</html>
